@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard::-webkit-scrollbar {
    @apply w-2
}

.dashboard::-webkit-scrollbar-track {

    @apply bg-[#C62368]  rounded-3xl my-48
}

.dashboard::-webkit-scrollbar-thumb {
    @apply bg-[#F36567] rounded-3xl
}


.complaints::-webkit-scrollbar {
    @apply w-2
}

.complaints::-webkit-scrollbar-track {

    @apply bg-[#C62368]  rounded-3xl my-48

}

.complaints::-webkit-scrollbar-thumb {
    @apply bg-[#F36567] rounded-3xl
}

.profile::-webkit-scrollbar {
    @apply w-2
}

.profile::-webkit-scrollbar-track {

    @apply bg-[#C62368]  rounded-3xl my-48

}

.profile::-webkit-scrollbar-thumb {
    @apply bg-[#F36567] rounded-3xl
}

.rudramadevi {
    font-family: 'Yeseva One', cursive;

}

/*.bg-dark{*/
/*    color: #252525/80;*/
/*}*/

input[type="text"], input[type="email"], input[type="password"], textarea {
    @apply px-4 py-2 rounded-xl border w-full bg-transparent outline-none
}

button[type="submit"] {
    @apply px-6 py-2 rounded-xl bg-indigo-700 text-white
}


.bg-dark {
    background-image: url("./assets/dark.svg");
    background-size: cover;
    background-position: left;
}

.bg-light {
    background-image: url("./assets/light.svg");
    background-size: cover;
    background-position: left;
}
